openapi: 3.0.0

info:
    title: VirusTotal API
    description: VirusTotal API
    version: "v3"

servers:
    - url: https://virustotal.com/api/v3

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header       
      name: x-apikey

paths:
    /files/{hash}:
        get:
            operationId: lookupFileHash
            summary: Lookup File Hash information
            parameters:
                - in: path
                  name: hash
                  schema:
                      type: string
                  required: true
                  description: The hash to lookup
            responses:
                "200":
                    description: OK
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
            security:
            - ApiKeyAuth: []
    /ip_addresses/{ip}:
        get:
            operationId: lookupIPAddress
            summary: Lookup IP Address information
            parameters:
                - in: path
                  name: ip
                  schema:
                      type: string
                  required: true
                  description: The ip to lookup
            responses:
                "200":
                    description: OK
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
            security:
            - ApiKeyAuth: []
